/* You can add global styles to this file, and also import other style files */
@use '@angular/cdk';
@include cdk.a11y-visually-hidden();

@import '~@angular/cdk/overlay-prebuilt.css';

body,
pre {
  margin: 0;
}
body {
  font-family: sans-serif;
}

h1,
h2 {
  text-align: center;
  margin: 0.5rem 0 1rem;
}

button {
  cursor: pointer;
}

code,
pre {
  font-size: 1rem;
}
